*{
    margin: 0;
    padding: 0;
}
#navbar {
    grid-area: navbar;
    position: fixed;
}
#navbar a{
    display: block;
    text-decoration: none;
    margin: 10px 0;
    border: 1px solid black;
    width: 250px;
    font-size: 25px;
    color: black;
}
header{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}
h2{
    margin-top:8px;
    font-size: 40px;
}
.info{
    position: absolute;
    top:-0px;
    left: 380px;
}
.info p{
    margin-top: 10px;;
    font-size: 20px;
}
.code{
    background-color: rgba(0, 0, 0, 0.2);
}
.code p{
    font-size: 20px;
    font-weight: 550;
}
.info li{
    font-size: 20px;
}
section{
    font-size: 20px;
}
section p{
    font-size: 40px;
}